.counter {
  padding: 16px 0;
  border-bottom: 1px solid #dee0e3;
}

.counter > div {
  display: inline-flex;
  border: 1px solid #dee0e3;
}

.quantity {
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}

.button {
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  background-color: #f1f2f4;
}
