.carousel--wrap {
  position: relative;
  width: 320px;
  height: 630px;
  margin: 0 auto;

  button {
    border-width: 0;
    background-color: transparent;
    cursor: pointer;
  }

  .carousel--PrevBtn,
  .carousel--NextBtn {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;

    &.is--showing {
      opacity: 1;
    }

    &.carousel--PrevBtn {
      left: -100%;
    }
    &.carousel--NextBtn {
      left: 100%;

      img {
        transform: translateX(-50%);
      }
    }

    img {
      width: 200%;
      height: 100%;
    }
  }

  .carousel--item--wrap {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    .carousel__item {
      display: none;

      &.is--active {
        display: block;
      }
    }
  }

  .carousel--contoller--wrap {
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transform: translateX(-50%);

    .carousel--indicator--wrap {
      .carousel--indicator {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: gray;
        border-radius: 50%;
        margin-right: 10px;

        &.is--active {
          background-color: black;
        }
      }
    }

    .carousel--playBtn {
      width: 20px;
      height: 40px;
      padding: 0;
      overflow: hidden;

      img {
        width: 200%;
        height: 100%;
        transform: translateX(-50%);

        &.is--paused {
          transform: translateX(0%);
        }
      }
    }
  }
}
